<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="table-responsive">
       <table class="table table-bordered table-striped">
           <colgroup>
               <col class="col-xs-2">
               <col class="col-xs-8">
           </colgroup>
           <tbody>
               <tr>
                   <th class="th-table" scope="row">1. Vị trí công việc</th>
                   <td>Nhân viên tiếp thị sản phẩm và phát triển thị trường</td>
               </tr>
               <tr>
                   <th class="th-table" scope="row">2. Mô tả công việc</th>
                   <td>Tiếp cận với các đối tượng khách hàng sau đây:<br />
                       - Công ty thiết kế kiến trúc và tư vấn xây dựng cao ốc văn phòng.<br />
                       - Các dự án thi công trong giai đoạn tìm thầu ánh sáng, đèn v.v...<br />
                       - Các đại lý đèn điện, trang trí nội thất, điện dân dụng...<br />
                       - Chuyên làm các dự án xây dựng, ưu tiên đã làm trong lĩnh vực trang trí nội thất, đèn led.
                   </td>
               </tr>
               <tr>
                   <th class="th-table" scope="row">3. Yêu cầu công việc</th>
                   <td>- Có kinh nghiệm bán hàng tối thiểu 2 năm và có kinh nghiệm trong ngành liên quan như hiểu biết về xây dựng, thiết bị chiếu sáng, đèn LED... là lợi thế.<br />
                       - Quản lý, nắm bắt dự án tốt<br />
                       - Có kinh nghiệm kinh doanh, khả năng giao tiếp tốt (biết giao tiếp t.Anh là một lợi thế)<br />
                   </td>
               </tr>
               <tr>
                   <th class="th-table" scope="row">4. Yêu cầu hồ sơ</th>
                   <td>Hồ sơn xin việc gồm:<br />
                       - Đơn xin việc<br />
                       - Sơ yếu lý lịch (có kèm ảnh mới nhất chụp nửa/cả người và ảnh chân dung)<br />
                       - Hộ khẩu, chứng minh nhân dân và giấy khám sức khỏe (bản copy)<br />
                       - Các bằng cấp có liên quan (bản copy).<br />
                       Lưu ý: Các NV được trúng tuyển sẽ trình các giấy tờ bản gốc để đối chiếu
                   </td>
               </tr>
               <tr>
                   <th class="th-table" scope="row">5. Vị trí công việc</th>
                   <td>Liên tục tuyển dụng trong năm 2015</td>
               </tr>
           </tbody>
       </table>
    </div>
</body>
</html>